:host{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4%;
    .details{
        width: 50%;
        min-width: 300px;
        text-align: left;
    }
    .image-view {
        max-width: 300px;
        margin-right: 1rem;
    }
    .tail{
        display: flex;
        justify-content: space-between;
    }
}